<div class="page">
  <!-- PAGE NAVBAR -->
  <div class="page-header">
    <div class="left">
      <div class="breadcrumb">
        <span class="root">{{ title }}</span>

        <ng-container *ngFor="let b of breadcrumb.breadcrumbs">
          <span class="sep"> / </span>
          <span class="current">{{ b }}</span>
        </ng-container>
      </div>
    </div>

    <div class="right">
      <ng-content select="[page-actions]"></ng-content>
    </div>
  </div>

  <!-- SCROLLABLE BODY -->
  <div class="page-body">
    <ng-content></ng-content>
  </div>
</div>
