# ======================
# .NET / Visual Studio
# ======================
.vs/
**/.vs/

bin/
obj/
**/bin/
**/obj/

# ======================
# User / IDE files
# ======================
*.user
*.suo

# ======================
# Logs / temp
# ======================
*.tmp
*.log
*.db
*.sqlite

# ======================
# Environment config
# ======================
appsettings.Development.json
appsettings.json
**/appsettings.Development.json
**/appsettings.json

# ======================
# Runtime uploads
# ======================
**/wwwroot/uploads/
