<div class="step-grid">
  <div class="form">
    <h3>Customer details</h3>

    <ui-input [(ngModel)]="data.name" placeholder="Name *"></ui-input>

    <ui-input type="email" [(ngModel)]="data.email" placeholder="Email *">
    </ui-input>

    <ui-input type="tel" [(ngModel)]="data.phone" placeholder="Phone *">
    </ui-input>

    <ui-checkbox [(ngModel)]="data.isActive"> Active </ui-checkbox>
  </div>

  <div class="form">
    <h3 class="section">Billing</h3>

    <ui-select [(ngModel)]="data.billing.terms" [options]="paymentTerms">
    </ui-select>

    <ui-select [(ngModel)]="data.billing.method" [options]="paymentMethods">
    </ui-select>

    <ui-input
      type="number"
      [(ngModel)]="data.billing.creditLimit"
      placeholder="Credit limit"
    >
    </ui-input>

    <ui-checkbox [(ngModel)]="data.billing.autoInvoice">
      Auto invoice
    </ui-checkbox>
  </div>
  <app-ui-button (click)="submit()" [disabled]="!isValid()">Next</app-ui-button>
</div>
