<div class="sidebar-logo"></div>

<nav class="icon-sidebar">
  <ng-container *ngFor="let item of items">
    <!-- ITEM PA CHILDREN -->
    <a
      *ngIf="!item.children"
      class="icon-btn"
      [routerLink]="item.route"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [title]="item.label"
    >
      <span class="material-icons">{{ item.icon }}</span>
    </a>

    <!-- ITEM ME CHILDREN -->
    <div *ngIf="item.children" class="icon-wrapper">
      <button
        class="icon-btn"
        type="button"
        (click)="toggle(item)"
        [class.active]="expanded === item"
        [title]="item.label"
      >
        <span class="material-icons">{{ item.icon }}</span>
      </button>

      <!-- CHILDREN FLYOUT -->
      <div class="flyout" *ngIf="expanded === item">
        <a
          *ngFor="let child of item.children"
          class="flyout-item"
          [routerLink]="child.disabled ? null : child.route"
          [class.disabled]="child.disabled"
          (click)="expanded = null"
        >
          <span class="material-icons small">{{ child.icon }}</span>
          {{ child.label }}
        </a>
      </div>
    </div>
  </ng-container>
</nav>
