<div class="menu">
  <!-- USER INFO -->
  <div class="user-info">
    <div class="avatar-lg">{{ auth.getUserInitials() }}</div>

    <div>
      <div class="name">
        {{ auth.getUserName() }}
      </div>
      <div class="email">
        {{ auth.getUserEmail() }}
      </div>
    </div>

    <span class="badge">
      {{ auth.getRoles().join(", ") }}
    </span>
  </div>

  <hr />

  <!-- MY PROFILE (ALL USERS) -->
  <button routerLink="/profile" class="item">
    <span class="material-icons">account_circle</span>
    My Profile
  </button>

  <!-- USER MANAGEMENT (ADMIN ONLY) -->
  <button
    *ngIf="auth.hasPermission('User_View_All')"
    routerLink="/admin/users"
    class="item"
  >
    <span class="material-icons">group</span>
    User Management
  </button>

  <hr />

  <!-- LOGOUT -->
  <button class="logout" (click)="logout.emit()">Log out</button>
</div>
