<div class="dispatcher-panel">
  <div class="panel-header">
    <h3>Dispatcher</h3>
    <button (click)="save()" [disabled]="saving">Save Load</button>
  </div>

  <div class="form-grid">
    <label>
      Carrier
      <select [(ngModel)]="form.carrierId">
        <option value="">No carrier</option>
        <option *ngFor="let carrier of carriers" [value]="carrier.id">{{ carrier.name }}</option>
      </select>
    </label>
    <label>
      Carrier rate
      <input type="number" [(ngModel)]="form.carrierRate" />
    </label>
    <label>
      Customer rate
      <input type="number" [(ngModel)]="form.customerRate" />
    </label>
    <label>
      Accessorials
      <input type="number" [(ngModel)]="form.accessorials" />
    </label>
    <label>
      Origin
      <input [(ngModel)]="form.origin" />
    </label>
    <label>
      Destination
      <input [(ngModel)]="form.destination" />
    </label>
    <label>
      Rate confirmation
      <input [(ngModel)]="form.rateConfirmationNumber" />
    </label>
    <label>
      Tracking #
      <input [(ngModel)]="form.trackingNumber" />
    </label>
    <label>
      BOL
      <input [(ngModel)]="form.bolNumber" />
    </label>
    <label>
      PRO
      <input [(ngModel)]="form.proNumber" />
    </label>
    <label>
      Driver
      <input [(ngModel)]="form.driverName" />
    </label>
    <label>
      Driver phone
      <input [(ngModel)]="form.driverPhone" />
    </label>
    <label>
      Driver email
      <input [(ngModel)]="form.driverEmail" />
    </label>
    <label>
      Truck #
      <input [(ngModel)]="form.truckNumber" />
    </label>
    <label>
      Trailer #
      <input [(ngModel)]="form.trailerNumber" />
    </label>
    <label>
      Carrier SCAC
      <input [(ngModel)]="form.carrierSCAC" />
    </label>
  </div>
</div>
