<table class="entity-table">
  <thead>
    <tr>
      <th
        *ngFor="let col of columns"
        (click)="sort(col)"
        [class.sortable]="col.sortable"
      >
        {{ col.label }}
        <span *ngIf="sortKey === col.key">
          {{ sortDir === "asc" ? "▲" : "▼" }}
        </span>
      </th>

      <th *ngIf="actions.length">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let row of sortedRows">
      <td *ngFor="let col of columns">
        <span
          *ngIf="col.classFn; else plainCell"
          class="badge"
          [ngClass]="col.classFn(row)"
        >
          <a
            *ngIf="getRouterLink(row, col) as link; else badgeText"
            class="cell-link badge-link"
            [routerLink]="link"
          >
            {{ getCellValue(row, col) }}
          </a>
          <ng-template #badgeText>{{ getCellValue(row, col) }}</ng-template>
        </span>

        <!-- normal cell -->
        <ng-template #plainCell>
          <a
            *ngIf="getRouterLink(row, col) as link; else plainText"
            class="cell-text cell-link"
            [routerLink]="link"
            [title]="asText(getCellValue(row, col))"
          >
            {{ getCellValue(row, col) }}
          </a>
          <ng-template #plainText>
            <span class="cell-text" [title]="asText(getCellValue(row, col))">
              {{ getCellValue(row, col) }}
            </span>
          </ng-template>
        </ng-template>
      </td>

      <td *ngIf="actions.length" class="actions">
        <ng-container *ngFor="let action of actions">
          <!-- ROUTER LINK ACTION -->
          <a
            *ngIf="
              action.routerLink && (!action.visible || action.visible(row))
            "
            [routerLink]="action.routerLink(row)"
            class="link-btn"
            [ngClass]="action.variant ?? 'ghost'"
          >
            {{ action.label }}
          </a>

          <!-- HANDLER ACTION -->
          <app-ui-button
            *ngIf="
              !action.routerLink && (!action.visible || action.visible(row))
            "
            [variant]="action.variant ?? 'primary'"
            (click)="action.handler?.(row)"
          >
            {{ action.label }}
          </app-ui-button>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
